@import '../../assets/scss/Styles/colors.module.scss';

.RatingsCard {
  cursor: pointer;
  /* Filter over box-shadow to support the flip effect */
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16))
    drop-shadow(0 3px 6px rgba(0, 0, 0, 0.1));
  height: 12rem;
  position: relative;
  perspective: 1000px;
  transition: filter 0.5s;
  width: 12rem;
}

.RatingsCard:hover {
  filter: drop-shadow(0 14px 28px rgba(0, 0, 0, 0.25))
    drop-shadow(0 10px 10px rgba(0, 0, 0, 0.1));
}

.RatingsCardFront,
.RatingsCardBack {
  background-color: #ececec;
  height: 100%;
  position: absolute;
  width: 100%;
}

.RatingsCardFront {
  background-position: center;
  background-size: cover;
  color: $color-light-blue-link;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RatingsCardBack {
  align-items: center;
  display: flex;
  justify-content: center;
}
