.JordanBox {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 16px;
    left: 50;
    z-index: 101;
}

.start {
    margin-left: 80px;
}

.inair {
    margin-left: -34px;
}

.jordanContainer {
    width: 100%;
    height: 100%;
    position: relative;
}