@import '../../assets/scss/Styles/breakpoints.module.scss';

.jordan_box {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 16px;
    @media only screen and (max-width: $breakpoint-med) {
      bottom: 56px;
    }
    left: 50;
    z-index: 101;
}

.start {
    margin-left: 80px;
}

.inair {
    margin-left: -34px;
}
  
.reverse {
  animation: MoveDownUp 2s forwards;
}
  
@keyframes MoveDownUp {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0);
  }
}