.marioSquare {
    width: 80px;
    // height: auto;
    height: 76px;
    -webkit-animation: mario-sliders 2.5s linear infinite;
    animation: mario-slider 10.5s linear infinite;
    background: url("../../assets/images/jordan/mario-square-repeating-1200x76.png") repeat-x;
    background-size: 80px 1;
    position: absolute;
    bottom: 350px;
    margin-left: 15px;
    z-index: 100;
}

.activeMarioSquare {
    width: 80px;
    // height: auto;
    height: 76px;
    background: url("../../assets/images/jordan/active-mario-square.png") repeat-x;
    background-size: 80px 76px;
    position: absolute;
    bottom: 350px;
    margin-left: 15px;
    z-index: 100;
}


@-webkit-keyframes mario-slider {
 from {
    background-position: 0% 0%;
}
to {
    background-position: -100% 0%;
}
}

@keyframes mario-slider {
  from {
    background-position: 0% 0%;
}
to {
    background-position: -100% 0%;
}
}