$color-dark: #333333;
$color-green: #4caf50;
$color-blue: #2196f3;
$color-brown-grey: #878787;

$mobile-width: "only screen and (max-width : 450px)";
$tablet-width: "only screen and (max-width : 720px)";
$desktop-width: "only screen and (max-width : 1024px)";

@mixin small {
  @media #{$mobile-width}{
    @content;
  }
}

@mixin medium {
  @media #{$tablet-width}{
    @content;
  }
}

@mixin large {
  @media #{$desktop-width}{
    @content;
  }
}

.background_image_layer {
  position: absolute;
  background-size: cover;
  left: 37px;
  top: 32px;
  width: 100vw;
  height: 100vh;
  opacity: 0.04;
}

.background_container {
  // padding: 60px 0px 0px 0px;
  position: relative;
  height: 100%;
  align-items: stretch;
  flex: 1 1;
  align-self: stretch;
  display: flex;
  flex-direction: row;
}


@include medium {
  .background_image_layer {
    width: 120%;
  }
}