$color-dark: #333333;
$color-green: #4caf50;
$color-blue: #2196f3;
$color-brown-grey: #878787;

$transition-fast-in-slow-out: cubic-bezier(0.1, 0.82, 0.25, 1);//cubic-bezier(0.1, 0.82, 0.25, 1);
$transition-slow-in-fast-out: cubic-bezier(0.550, 0.055, 0.675, 0.190);

$mobile-width: "only screen and (max-width : 450px)";
$tablet-width: "only screen and (max-width : 650px)";
$desktop-width: "only screen and (max-width : 1024px)";

@mixin on_click_button {
  cursor: pointer;
  transition: transform 500ms cubic-bezier(0.1, 0.82, 0.25, 1);

  &:hover {
    transform: scale(1.1);
    opacity: 0.9;
  }
}


@mixin small {
  @media #{$mobile-width}{
    @content;
  }
}

@mixin medium {
  @media #{$tablet-width}{
    @content;
  }
}

@mixin large {
  @media #{$desktop-width}{
    @content;
  }
}


$transition-time: 1s;
$transition-type: cubic-bezier(0.1, 0.82, 0.25, 1);
// cubic-bezier(0.550, 0.055, 0.675, 0.190) // need to try
//-----------------------------------------------------------prefixed header state
.header_container {
  // align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  height: 100vh;
  transform-origin: top;
  //background: $color-dark;
  z-index: -1;
}

.header_background_container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  transform: scale(1.1);
}
