// @import '~Styles/colors.module';
// @import '~Styles/mixins.module';

$color-dark: #333333;
$color-green: #4caf50;
$color-blue: #2196f3;
$color-brown-grey: #878787;

$transition-fast-in-slow-out: cubic-bezier(0.1, 0.82, 0.25, 1);//cubic-bezier(0.1, 0.82, 0.25, 1);
$transition-slow-in-fast-out: cubic-bezier(0.550, 0.055, 0.675, 0.190);

$mobile-width: "only screen and (max-width : 450px)";
$tablet-width: "only screen and (max-width : 720px)";
$desktop-width: "only screen and (max-width : 1024px)";

@mixin on_click_button {
  cursor: pointer;
  transition: transform 500ms cubic-bezier(0.1, 0.82, 0.25, 1);

  &:hover {
    transform: scale(1.1);
    opacity: 0.9;
  }
}


@mixin small {
  @media #{$mobile-width}{
    @content;
  }
}

@mixin medium {
  @media #{$tablet-width}{
    @content;
  }
}

@mixin large {
  @media #{$desktop-width}{
    @content;
  }
}

.timeline_container {
  padding: 60px 0px 0px 0px;
  position: relative;
  height: 100%;
  // overflow: hidden;


  .background_static_image {
    position: absolute;
    object-position: left top;
    object-fit: cover;
    opacity: 0.04;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .background_image_container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // width: 100%;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    object-position: left top;
    z-index: 0;

    .background_image {
      object-fit: cover;
      // width: 280px;
      position: absolute;
      // position: relative;
      // height: 38px;
      // width: 38px;
      width: 100%;
      height: auto;
      // margin-left: auto;
      // margin-right: auto;
    }
  }

  @include medium {
    .background_image_container {
      height: 250px;
    }
    .background_image {
      // width: auto !important;
      height: 100% !important;
      text-align: center;
      object-fit: contain !important;
      top: -90px !important;

    }
    .timeline_container {
      height: 250px;
      margin-top: 25px;
    }
  }

  .left_background_gradient {
    display: none;
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    width: 30vw;
    z-index: 2;

    background-image: linear-gradient(to right, rgba(white, 0.1), rgba(0, 0, 0, 0));
  }

  .left_container {
    min-width: 40vw;
    padding-top: 6px;
    //    background-image: linear-gradient(rgba(0,0,0,0.3), transparent);
    z-index: 3;
    position: relative;

    .content_container {
      color: white;
      bottom: 0;
      margin: 0px 0px 40px 40px;
      position: absolute;

      .title {
        font-size: 60px;
      }

      .description_container {
        margin-top: 16px;
        margin-left: 22px;

        .description {
          font-size: 14px;
          margin-top: 14px;
        }

        .description:first-child {
          margin-top: 0;
        }
        
        .button {
          font-size: 14px;
          border-radius: 7.8px;
          margin-top: 22px;
          border: solid 1px white;
          padding: 3px 14px;
          @include on_click_button;
        }
      }
    }
  }


  .right_container {
    padding-left: 100px;
  }
}
