@import '../../assets/scss/Styles/mixins.module.scss';
@import '../../assets/scss/Styles/colors.module.scss';

$transition-fast-in-slow-out: cubic-bezier(0.1, 0.82, 0.25, 1);//cubic-bezier(0.1, 0.82, 0.25, 1);
$transition-slow-in-fast-out: cubic-bezier(0.550, 0.055, 0.675, 0.190);

$mobile-width: "only screen and (max-width : 450px)";
$tablet-width: "only screen and (max-width : 720px)";
$desktop-width: "only screen and (max-width : 1024px)";

.timeline_container {
  position: relative;
  height: 100%;
  margin-top: 50px;

  .background_static_image {
    position: absolute;
    object-position: left top;
    object-fit: cover;
    opacity: 0.04;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .background_image_container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    object-position: left top;
    z-index: 0;

    .background_image {
      object-fit: cover;
      position: absolute;
      width: 100%;
      height: auto;
    }
  }

  @include medium {
    .background_image_container {
      height: 250px;
    }
    .background_image {
      height: 100% !important;
      text-align: center;
      object-fit: contain !important;
      top: -90px !important;

    }
    .timeline_container {
      height: 250px;
      margin-top: 25px;
    }
  }

  .left_background_gradient {
    display: none;
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    width: 30vw;
    z-index: 2;

    background-image: linear-gradient(to right, rgba(white, 0.1), rgba(0, 0, 0, 0));
  }

  .left_container {
    min-width: 40vw;
    padding-top: 6px;
    z-index: 3;
    position: relative;

    .content_container {
      color: white;
      bottom: 0;
      margin: 0px 0px 40px 40px;
      position: absolute;

      .title {
        font-size: 60px;
      }

      .description_container {
        margin-top: 16px;
        margin-left: 22px;

        .description {
          font-size: 14px;
          margin-top: 14px;
        }

        .description:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .right_container {
    padding-left: 100px;
  }
}
