$width: 96%;
$gutter: 4%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px

.hamburger {
    display: none;
}

.navigation {
    display: unset;
}

.headerContainer {
    // background-color: lightsalmon;
    background-color: #A9A9A9;
    width: 100%;
    height: 56px;
}

.dn {
    display: none;
}

.db {
    display: block;
}

.headerLoaderText {
    margin: 0;
    position: absolute;
    right: 0;
    color: #A9A9A9 !important;
    font-size: 2em;
    letter-spacing: .3em;
    font-weight: bold;
}

@media only screen and (max-width: $breakpoint-med) {
    .hamburger {
        display: unset;
    }

    .navigation {
        display: none;
    }
  }