
$width: 96%;
$gutter: 4%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px
@font-face {
    font-family: GinesoMedium;
    src: local('GinesoMedium'), url('../../assets/fonts/GinesoMedium.woff') format('woff');
}

.GineosMedium {
    font-family: GinesoMedium;
}

.typedTarget {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 5px;
    
    @media only screen and (max-width: $breakpoint-small) {
        width: 100%;
        float: left;
        vertical-align: bottom;
        margin-right: unset;
    }
}


.typedContainer {
    width: 100%;
    text-align: right;
    margin-bottom: 100px;
    @media only screen and (max-width: $breakpoint-small) {
        text-align: center;
        margin-bottom: unset;
    }
}

.navContainer {
    width: 100%;
    text-align: left;
    margin-bottom: 80px;
    @media only screen and (max-width: $breakpoint-small) {
        text-align: center !important;
        margin-bottom: unset !important;
    }
}