
$width: 96%;
$gutter: 4%;
$breakpoint-small: 33.75em;
$breakpoint-med: 45em;
$breakpoint-large: 60em;

@font-face {
    font-family: GinesoMedium;
    src: local('GinesoMedium'), url('../../assets/fonts/GinesoMedium.woff') format('woff');
}

.gineos_medium {
    font-family: GinesoMedium;
}

.ninety_text {
    color: white;
    margin: 0;
}

.typed_target {
    font-size: 25px;
    vertical-align: middle;
    margin-right: 5px;
    
    @media only screen and (max-width: $breakpoint-med) {
        width: 100%;
        float: left;
        vertical-align: bottom;
        margin-right: unset;
        font-size: 8vw;
    }
}

.landing_nav_link {
    // color: grey;
    color: lightblue;
    font-size: 1.3em;
    padding-left: 15px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Spartan', sans-serif;
}

.landing_nav_link:hover {
    color: white;
}

.typed_container {
    width: 100%;
    text-align: right;
    margin-bottom: 100px;
    @media only screen and (min-width: $breakpoint-med) and (max-width: $breakpoint-large) { 
        width: 130%;
    }
    @media only screen and (max-width: $breakpoint-med) {
        text-align: center;
        margin-bottom: unset;
    }
}

.nav_container {
    width: 100%;
    text-align: left;
    margin-bottom: 80px;
    @media only screen and (max-width: $breakpoint-med) {
        text-align: center !important;
        margin-bottom: unset !important;
    }

    @media only screen and (min-width: $breakpoint-med) and (max-width: $breakpoint-large) { 
        width: 80%;
    }
}