@import './assets/scss/Styles/colors.module.scss';

html, body {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  overflow: auto;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: $color-dark;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.dn {
  display: none;
}

#root {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  font-family: 'Roboto', sans-serif;
  background-color: $color-dark;
}

::-webkit-scrollbar { width: 0 !important }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.project-holder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30vw;
  z-index: 2;
  background-image: linear-gradient(90deg,hsla(0,0%,100%,.1),transparent);
}

@mixin on_click_button {
  cursor: pointer;
  transition: transform 500ms cubic-bezier(0.1, 0.82, 0.25, 1);

  &:hover:not(.ignoreTextHover) {
    transform: scale(1.1);
    opacity: 0.9;
    color: $color-white;
  }
}

.source {
  color: $color-light-blue-link;
}

.blogHeadline {
  display: inline-block;
}

.blogLink {
  color: $color-white;
}

.blogLink:hover {
  cursor: pointer;
  color: $color-light-blue-link;
}

.button {
  background-color: -internal-light-dark($color-white, $color-dark);
  color:$color-dark;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  padding: 10px 15px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  border: 0;
  
  @include on_click_button;
}

.button:hover {
  background-color: $color-light-blue-link;
}

a,p,div,h1,h2,h3,h4,h5,h6, span {
  font-family: 'Raleway', sans-serif;
}


.baseModal div {
  height: 100%;
  width: 100%;
}

